.firebaseui-button {
  background-color: var(--joy-palette-primary-500) !important;
  color: white !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label:after {
  background-color: var(--joy-palette-primary-500)!important;
}

.mdl-progress > .progressbar {
  background-color: var(--joy-palette-primary-500)!important;
}

.mdl-progress > .bufferbar {
  background-image: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0.7),
          hsla(0, 0%, 100%, 0.7)
      ),
      linear-gradient(90deg, var(--joy-palette-primary-500),var(--joy-palette-primary-500)) !important;
  z-index: 0;
  left: 0;
}

.mdl-progress:not(.mdl-progress--indeterminate) > .auxbar,
.mdl-progress:not(.mdl-progress__indeterminate) > .auxbar {
  background-image: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0.9),
          hsla(0, 0%, 100%, 0.9)
      ),
      linear-gradient(90deg, var(--joy-palette-primary-500), var(--joy-palette-primary-500)) !important;
}
/* Input border color */
.firebaseui-textfield.mdl-textfield .firebaseui-input   {
  border-color:  var(--joy-palette-text-primary)!important;
}
input:-internal-autofill-selected  {
  background-color: var(--joy-palette-background-surface) !important;
}
.mdl-textfield__input {
  border-bottom:1px solid rgba(255,255,255,0.1) !important;
}
#firebaseui_container *{
  color: var(--joy-palette-text-primary);
}

/* Main Body Background */
#firebaseui_container .mdl-card {
   box-shadow: none;
  background-color: var(--joy-palette-background-body);

}
/* Google Button Text always black */
.firebaseui-idp-google>.firebaseui-idp-text{
  color:#101418!important;
}

/* .firebaseui-idp-google>.firebaseui-idp-text{
  color: #757575 !important;
}
 #firebaseui_container .mdl-card {
    box-shadow: none;
    background-color: var(--joy-palette-background-surface);

  }
  #firebaseui_container .firebaseui-card-header {
    border-bottom: none;
  }



#firebaseui_container *{
  color: var(--joy-palette-text-primary);
}
 */
